.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  margin: 2px;
  font-size: 1.5rem;
  width: 2rem;
  height: 2.5rem;
  transition: all 1s;
}

.default_block {
  background-color: white;
}

.block_correct {
  background-color: green;
  border: 1px solid green;
}

.block_misplace {
  background-color: yellow;
  border: 1px solid yellow;
}

.block_wrong {
  background-color: gray;
  border: 1px solid gray;
}
