.container {
  grid-area: frame;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.errorPopup {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  width: fit-content;
  max-width: 50%;
  color: white;
  background-color: var(--color_danger);
  border-radius: 10px;
  z-index: 1;
}

.errorPopup[data-error="false"] {
  visibility: hidden;
}

.errorPopup[data-error="true"] {
  visibility: visible;
}

@media (min-width: 426px) and (max-width: 1023px) {
}

@media (min-width: 769px) {
}
