.wrapper {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "header"
    "body";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0.5rem 1rem;
}

.body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.slideBg {
  border-top: 1px solid var(--keyboard_color);
  border-bottom: 1px solid var(--keyboard_color);
}

.slide {
  position: relative;
  width: 100%;
  height: 15rem;
}

.closeBtn {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: white;
}

.closeBtn:hover {
  color: var(--color_danger);
}

.description {
  width: 100%;
  background-color: var(--default_block_color);
}

.descriptionText {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.slideNo {
  font-weight: bold;
}

.prevBtn,
.nextBtn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: var(--color_success);
  color: white;
  margin: 0 1rem;
  cursor: pointer;
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: var(--correct_color);
}

@media (min-width: 426px) and (max-width: 1023px) {
  .modal {
    width: 70%;
  }

  .closeBtn {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .prevBtn,
  .nextBtn,
  .slideNo {
    font-size: 1.2rem;
  }

  .descriptionText {
    font-size: 1.2rem;
  }

  .slide {
    height: 20rem;
  }
}

@media (min-width: 769px) {
  .modal {
    width: 40rem;
  }

  .closeBtn {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .prevBtn,
  .nextBtn,
  .slideNo {
    font-size: 1.2rem;
  }

  .descriptionText {
    font-size: 1.2rem;
  }

  .slide {
    height: 20rem;
  }
}
