.container {
  display: flex;
}

.words_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--word_color);
  font-weight: bold;
  margin: 2px;
  font-size: 1.5rem;
  width: 2rem;
  height: 2.5rem;
}

.default_block {
  background-color: var(--default_block_color);
}

.filled {
  border: 1px solid var(--filled_border_color);
  animation: insert 0.2s ease forwards;
}

.notfilled {
  border: 1px solid var(--empty_border_color);
  animation: delete 0.2s ease forwards;
}

.block_correct {
  background-color: var(--correct_color);
  border: 1px solid var(--correct_color);
  color: var(--guessed_word_color);
  animation: flip 0.5s ease forwards;
}

.block_misplace {
  background-color: var(--misplace_color);
  border: 1px solid var(--misplace_color);
  color: var(--guessed_word_color);
  animation: flip 0.5s ease forwards;
}

.block_wrong {
  background-color: var(--wrong_color);
  border: 1px solid var(--wrong_color);
  color: var(--guessed_word_color);
  animation: flip 0.5s ease forwards;
}

@media (min-width: 426px) and (max-width: 1023px) {
  .words_container {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) {
  .words_container {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes insert {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes delete {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
